body {
  background-image: url("images/pokeballs.jpg");
  background-size: 110%;
}

#main {
  background-color: slategray;
}
#header-row {
  height: 120px;
  background-image: url("images/pokemon-logo-black-transparent.png");
  background-position: 70%;
  background-repeat: no-repeat;
}
.card-content {
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
}

.card-action {
  text-align: center;
}

.collection-item {
  color: black;
  text-align: left;
  font-weight: 20;
}

h4 {
  text-align: center;
  color: white;
}
